:root {

    /* The designs were created to the following widths: */
    --mobile_width: 375px;
    --desktop_width: 1440px;

    /* ### Primary */
    --dark_cyan: hsl(158, 40%, 35%);
    --cream: hsl(32, 14%, 74%);
    
    /* ### Neutral */
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);

    --paragraph_size: 14px;
}

/* FUENTES PARA EL CÓDIGO */

.poppins-200 {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-400 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-600 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }

  
  /* ########################################### */


body{
    background-color: var(--cream);
}
header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.titulo1, 
    .titulo2, 
    .texto{
        text-align: center;
    }
.titulo1{
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

.titulo2{
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
   
}
.subtitulo{
    margin-top: -20px;
}

.texto{
    margin-left: auto;
    margin-right: auto;
}

.div-todo{

    display: flex;
    flex-direction: row;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.tarjeta {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 20px;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-style: solid;
}

.supervisor{
   border-top-color: aqua;
}


.team-builder{
    border-top-color: red;
}
.div-centro{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
.karma{
    border-top-color: orange;
}

.calculator{
    border-top-color: rgb(28, 28, 204);
}

.texto2{
    margin-left: 20px;
}

/* .imagen1{
    margin-left: 220px;
} */

 .imagen1{
        display: block;
        margin-right: 10px;
        margin-left: auto;
        width: 15%;
    }

@media (min-width: 1440px){

    body{
        background-color: rgb(216, 216, 216);
    }

    header{
    width: 90%;
    margin-bottom: 80px;
    }

    /* .imagen1{
        margin-right: auto;
        margin-left: 10px;
    } */

    .div-todo{
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 1400px;
        gap: 40px;
    }

    .div-centro{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 50px;
    }

    .tarjeta{
        width: 400px;
        background-color: white;
        box-shadow: 0px 10px   rgba(143, 143, 143, 0.178);
        border-radius: 10px
    }
    .supervisor{
        padding-bottom: 50px;
    }
    .calculator{
        padding-bottom: 50px;
    }
    .karma{
        padding-bottom: 50px;
    }
    .team-builder{
        padding-bottom: 50px;
    }
}