body{
    background-image: url("../IMG/fondo.jpg");  
}
.titulo{
    text-align: center;

}
.arriba-izq{
    margin-left: 8%;
    margin-top: 60px;
    background-color: rgb(11, 77, 11);
    margin-right: 70%;
    padding: 60px;
    clip-path: circle(45.7% at 50% 50%);

}
.input1{
    margin-left: 27px;
    padding: 7px;
}
.buton1{
    width: 50px;
    padding: 8px;
    margin-left: 70px;
    width: 90px;
}
.titulo2{
    color: white;
    margin-left: 20%;
}
.abajo-izq{
    background-color: lime;
    margin-left: 150px;
    margin-right: 1150px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 1px;
    padding-bottom: 20px;
}
#input2{
    margin-left: 30px;
    background-color: white;
    padding: 18px;
    margin-right: 30px;
}
.buton2{
    margin-left: 95px;
}
.derecha{
    margin-left: 35%;
    margin-top: -30%;
    background-color: rgb(0, 161, 0);
    padding: 2px;
    padding-bottom: 24.5%;
    border-radius: 20px;
    margin-right: 30%;
}
.titulo3{
    color: white;
    margin-left: 40px;
}
#jugadors{
    margin-left: 10px;
    background-color: white;
    margin-right: 10px;
    padding: 10px;
}