*{
    margin: 0;
    border: 0;
    border-collapse: collapse;
}

/* variables definition */

:root {

    /* The designs were created to the following widths: */
    --mobile_width: 375px;
    --desktop_width: 1440px;

    /* ### Primary */
    --dark_cyan: hsl(158, 40%, 35%);
    --cream: hsl(32, 14%, 74%);
    
    /* ### Neutral */
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);

    --paragraph_size: 14px;
}

.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.fraunces-700 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


/* PREVIUS STYLE INFO */
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* ************************** */
body {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
}

.container-todo{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.container-imagen{
    display: grid;
    margin-left: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 160px;
    
}
.imagen{
    width: 400px;
}
.container-datos{
    display: grid;
    margin-left: -400px;
    margin-right: 583px;
    margin-top: 440px;
    background-color: rgb(238, 238, 238);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 60px;
    
}
.perfume{
    font-size: 20px;
    margin-left: var(--paragraph_size);
    margin-top: var(--paragraph_size);
   
}

.titulo{
    margin-left: var(--paragraph_size);
    margin-right:var(--paragraph_size);
    font-family: "Montserrat", sans-serif;
}
.texto{
    margin-left: var(--paragraph_size);
    font-family: "Montserrat", sans-serif;
}
.precios{
    margin-left: var(--paragraph_size);
    font-family: "Fraunces", serif;

}
.precio1{
    font-size: 30px;
    color: var(--dark_cyan) ;
}
.precio2{
    text-decoration: line-through;
    margin-left: 20px;
}
.boton{
    background-color: var(--dark_cyan);
    border-radius: 5px;
    width: 220px;
    color: white;
    padding: 10px;
    margin-left: 54px;
}
@media (min-width: 1440px) {
    .container-todo {
        flex-direction: row;
    }
    .container-imagen{
        margin-left: 400px;
        
    }
    .container-datos{
        margin-left: 0px;
        margin-top: 160px;
        margin-right: 300px;
        padding-bottom: 150px;
    }





  }
